@import url('core.css');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: grid;
    background-color: var(--neutral--100);
    padding: 90px  40px  0px 40px;
    color: var(--text-primary);
    gap: 20px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    background-color: var(--primary--200);
}

.header-container > img {
    height: 40px;
    margin-right: 20px;
}

.tip-container {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: var(--accent--100);
    overflow: hidden;
}

.tip-container  p {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statistic-container {
    display: flex;
    gap: 20px;
}

.statistic-card {
    flex: 1;
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.statistic-card h3, .statistic-card h2 {
    font-weight: 200;
}

.column-area01 {
    display: flex;
    gap: 20px;
}

.top-transaction-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0px 20px;
    padding: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.top-transaction-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--neutral--200);
    border-radius: 5px;
}

.menu-container {
    display: flex;
    flex: 3;
    gap: 15px;
    padding: 15px 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.column-area02 {
    display: flex;
}

.charts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.graph-container {
    display: flex;
    flex: 2;
}

.graph-card {
    flex: 1;
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
}

.graph-wrapper {
    margin: -20px -20px 0 -20px;
}

.graph-title {
    border-radius: 8px 8px 0 0;
    padding: 5px;
    background-color: var(  --neutral--200);
}

@media (max-width: 768px) {
    .statistic-container, .graph-container {
        flex-direction: column;
    }
}